# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Assign security
/.github/CODEOWNERS     @codernarvaez

# These owners will be the default owners for everything in the repo.
*       @codernarvaez

# You can also use email addresses if you prefer.
docs/*  @codernarvaez
